

/* barra de navegacion */
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgb(0, 0, 0) !important;
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgb(255 255 255 / 65%);
    --bs-navbar-hover-color: rgb(255 255 255 / 80%);
    --bs-navbar-disabled-color: rgb(255 255 255 / 30%);
    --bs-navbar-active-color: rgb(255 255 255);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgb(255 255 255);
    --bs-navbar-brand-hover-color: rgb(255 255 255);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15sease-in-out;
    position: relative;
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
/* fin de barra de navegacion */






/* comentarios de la pagina */
.comentarios{
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.comentarios-cuadros{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
}


